<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontLoader.css">

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<meta charset="UTF-8">
	<title>Backbone blogroll app</title>
</head>
<body>
	<div class="container">
		<h1 class="ff-din-500">Backbone Tutorial Blogroll App</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="t-star-400">Author</th>
					<th class="t-star-400">Title</th>
					<th class="t-star-400">URL</th>
					<th class="t-star-400">Action</th>
				</tr>
				<tr>
					<td><input class="form-control author-input" placeholder="Author..."></td>
					<td><input class="form-control title-input" placeholder="Title..."></td>
					<td><input class="form-control url-input" placeholder="URL..."></td>
					<td><button class="btn btn-classy add-blog">ADD</button></td>
				</tr>
			</thead>
			<tbody class="blogs-list">
				
			</tbody>
		</table>
		<div class="autoC">
			<div>
				<input id="autoInput" placeholder="Autocomplete...">
				<div class="results">
					<script type="text/template" class="resultado">
						<span><%= name %></span>
					</script>
				</div>
			</div>
			<button class="btn btn-classy">SEARCH</button>
		</div>
	</div>

	<script type="text/template" class="blogs-list-template">
		<td><span class="author"><%= author %></span></td>
		<td><span class="title"><%= title %></span></td>
		<td><span class="url"><%= url %></span></td>
		<td>
			<button class="btn btn-classy-blue edit-blog">EDIT</button>
			<button class="btn btn-classy-red delete-blog">DELETE</button>
		</td>
	</script>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
	<script src="bower_components/backbone/backbone.js"></script>
	<script src="scripts.js"></script>
	<script src="autocomplete.js"></script>
</body>
</html>